.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;

  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(x-small) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 85%;
    margin-right: -3.25rem;
    transition: all .3s;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: white;
    position: absolute;
    top: 1.5rem;
    right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

}

//--------------------------- SIDE NAVIGATION ----------------------
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @include respond(medium) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;
    transition: background-color .3s;

    &:not(:last-child) {
      margin-bottom: .5rem;

      @include respond(medium) {
        margin-bottom: 0;
      }
    }

    @include respond(medium) {
      flex: 1;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link, &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;

    @include respond(medium) {
      justify-content: center;
      padding: 2rem;
    }

    @include respond(small) {
      flex-direction: column;
      padding: 1.5rem .5rem;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;

    @include respond(small) {
      margin-right: 0;
      margin-bottom: .7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

//-------------------- LEGAL ----------------------
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;

  @include respond(medium) {
    display: none;
  }
}

//-------------------- GALLERY----------------------
.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

//-------------------- HOTEL OVERVIEW ------------------------------
.overview {
  border-bottom: var(--line);
  display: flex;
  align-items: center;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @include respond(small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star, &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: .5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(small) {
      padding: 0 1.5rem;
    }

    &-average {
      font-size: 2.25rem;
      font-weight: 300;

      @include respond(small) {
        font-size: 1.8rem;
      }
    }

    &-count {
      font-size: .8rem;
      text-transform: uppercase;
      margin-bottom: -3px;

      @include respond(small) {
        font-size: .5rem;
      }
    }
  }
}

//----------------------- BUTTON INLINE ----------------------------
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  padding-bottom: 2px;
  display: inline-block;
  cursor: pointer;

  &:hover {
    color: var(--color-grey-dark-1);
  }

  &:focus {
    outline: none;
  }
}

//------------------------ PARAGRAPH ------------------------------
.paragraph:not(:last-of-type) {
  margin-bottom: 2.5rem;
}

//------------------------- LIST -------------------------------------
.list {
  list-style: none;
  border-top: var(--line);
  border-bottom: var(--line);
  padding: 3rem 0;
  margin: 3rem 0;

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;

    &::before {
      content: '';
      width: 1rem;
      height: 1rem;
      display: inline-block;
      margin-right: .7rem;

      background-image: url(../img/chevron-thin-right.svg);
      background-size: cover;

      @supports (-webkit-mask-image: url(../img/chevron-thin-right.svg)) or (mask-image: url(../img/chevron-thin-right.svg)) {
        background-color: var(--color-primary);
        background-image: none;
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
      }
    }
  }
}

//---------------------------------- RECOMMEND ----------------------------
.recommend {
  display: flex;
  align-items: center;

  &__count {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
    margin-right: auto;
  }

  &__friends {
    display: flex;
  }

  &__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    box-sizing: content-box;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

//--------------------------------- REVIEW --------------------------------
.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;

  @include respond(medium) {
    padding: 2rem;
    margin-bottom: 2.5rem;
  }

  position: relative;
  overflow: hidden;

  &__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;
  }

  &__user {
    display: flex;
    align-items: center;

    &-photo {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      margin-right: 1.5rem;
    }

    &-box {
      margin-right: auto;
    }

    &-name {
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: .5rem;
    }

    &-date {
      font-size: 1rem;
      color: var(--color-grey-dark-3);
    }

    &-rating {
      color: var(--color-primary);
      font-size: 2.2rem;
      font-weight: 300;
    }
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
  }
}

//------------------------------- CALL TO ACTION --------------------------------
.cta {
  padding: 3.5rem 0;
  text-align: center;

  @include respond(medium) {
    padding: 2.5rem 0;
  }

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

//--------------------------------- BTN ------------------------------------
.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
    display: inline-block;
    height: 100%;
    transition: all .2s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0;
    width: 100%;
    left: 0;
    top: -100%;
  }

  &:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
  }
}